@import './mediaQuery';
@import './variables';

@import './mixin';




/*header*/
.header_card {
    background-color: #fff; 
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding-bottom: 20px;
    width: 100%; 
    display: flex;
    justify-content: center;

    padding-top: 15px;
    padding-bottom: 20px;


    .logo {
        width: 180px;
        height: auto;
        
    }
}

.location {

    padding: 15px 0;

    align-items: center;
    text-align: center;
    background-color: #ececec;
   
    
    width: 100%;
    
    i {
       padding-right: 12px;
    }

    a {
        @include roboto-font(16px 500);
    }
}
