/* css animation format
 animation: name duration timing-function delay iteration-count direction fill-mode play-state; */

body {
  position: relative; /*establishes it as the positioning context for the absolutely positioned child elements*/
  height: 100vh; /* represents 100% of the viewport height */
 
}

.loader {
  position: absolute; /*used to center the loader with top,left,transform:translate*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite, fadeOut 1s forwards; /*animation prop that spins the loader and fades out*/
  opacity: 1;
}

/*loader spins and fades out*/
@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; display: none; }
}

.content { /*covers the whole webpage*/
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s 1s forwards, slideIn 1s 1s forwards;
  /*(fadeIn) gradually increases opacity with a 1s delay*/
  /*forward ensures that after animation finishes, it will keep the styles applied from the last keyframe*/
  /*(slideIn) translates the content elements to slide along the Y-axis from 20px down to 0 pixels*/

}

/*content gradually appears and slides in*/
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideIn {
  0% { transform: translateY(20px); }
  100% { transform: translateY(0); }
}

h1, p {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
}



/*menu animation ....................*/

/*animation: name duration timing-function delay iteration-count direction fill-mode play-state; */


  

  .item { /*selects individual items */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in, transform 1s ease-in;
    /*'nth-child', a psuedo-class, selects the first (starter), second (main), and third (desert) child items within the container */
    &:nth-child(1) {
      animation: appearAnimation 1s 1.2s forwards;
      /*duration of animation last 1s and 1.2s delay before the animation starts*/
    }

    &:nth-child(2) {
      animation: appearAnimation 1s ease-in 1.5s forwards;
    }

    &:nth-child(3) {
      animation: appearAnimation 1s ease-in 1.7s forwards;
    }
  }

  @keyframes appearAnimation {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

