@mixin flexCenter ($direction) { /*passing arg to mixin */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: ($direction);
}

@mixin borderUnder {
    padding-left: 0;
    margin-left: 16px;
    width: 40px;
    border-bottom: 3px solid;
    border-color: $border-color;
}

@mixin roboto-font($size, $weight) {
    font-family: 'Roboto', sans-serif;
    font-size: $size;
    font-weight:$weight;
}

@mixin logo-font($size, $weight) {
    font-family: 'Shrikhand', serif;
    font-size: $size;
    font-weight:$weight;
}