
$main-background: #F6F6F6;

$hiw-card: #F6F6F6;

$footer-background: #353535;
$icon-grey: #7E7E7E;



$purple-color-gradient: linear-gradient(to bottom, #FF79DA, #9356DC);
$purple-hover: linear-gradient(to bottom, rgba(250, 137, 250, 0.854), #b738e9d2);
$button-gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);



$restaurant-hover: rgba(243, 243, 243, 0.903);
$menu-card: #ffffff;
$border-color: rgb(162, 255, 224);

$new-badge: #99E2D0;
$new-text: #008766;
$num-badge: #9356DC;




