
$main-background: #f7f7f7;
$hiw-card: rgb(244, 244, 244);
$footer-background: rgb(60, 60, 60);
$purple-color-gradient: linear-gradient(to bottom, #FF79DA, #9356DC);
$purple-hover: linear-gradient(to bottom, rgba(250, 137, 250, 0.854), #b738e9d2);

$restaurant-hover: rgba(243, 243, 243, 0.903);
$menu-card: #ffffff;
$border-color: rgb(162, 255, 224);