@import './mediaQuery';
@import './variables';
@import './header';
@import './mixin';
@import './restaurants';


.bookMeal-container {
    @include flexCenter(column); /*calling mixin with desired format in the parameter */
    background-color: $main-background;
    width: 100%;
    h3 {
        padding-top: 15px;
        @include roboto-font(24px, 700);
    }
    p {
        
        text-align: center;
        @include roboto-font(18px, 300);

    }
    button[type="submit"] {

        border: 0;
        background: $purple-color-gradient;
        color: white;
        border-radius: 25px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.25));

        padding: 15px 15px;
        margin: 20px 20px;
        margin-bottom: 50px;
        cursor: pointer;
        @include roboto-font(18px, bold);
        transition: transform 0.4s, background-color 0.5s; 

        &:hover {
            transform: translateY(-10px);
            background: $purple-hover;
        }

        
      }
}

/*how it works */

.howItWorks {
    background-color: #fff; 
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%; 
    padding: 20px;
    h3 {
        @include roboto-font(20px, 700);
        margin-left: 10px;

    }
    section {
        @include flexCenter(column);
    }
    .hiwCard {
        background-color: $hiw-card;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.12));
        width: 90%;
        height: 65px; 
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include roboto-font(15px, 500);
       
        .contain-card {
          
            display: flex;
            width: 100%;
            margin-left: 55px;
            align-items: center;
        }
        a {
            text-align:left;
            display: flex;
            align-items: center;
        }

        border-radius: 20px;
        margin-bottom: 20px;

        i {
            
            margin-right: 20px;
            
        }
        
    }
}

/* footer*/

footer {
    @include footer-styles;
}


.kit-image {
    width: 100%;
    img {
        width: 200px;
        height: auto;
    }
}