@charset "UTF-8";
/* css animation format
 animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
body {
  position: relative; /*establishes it as the positioning context for the absolutely positioned child elements*/
  height: 100vh; /* represents 100% of the viewport height */
}

.loader {
  position: absolute; /*used to center the loader with top,left,transform:translate*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite, fadeOut 1s forwards; /*animation prop that spins the loader and fades out*/
  opacity: 1;
}

/*loader spins and fades out*/
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.content { /*covers the whole webpage*/
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s 1s forwards, slideIn 1s 1s forwards;
  /*(fadeIn) gradually increases opacity with a 1s delay*/
  /*forward ensures that after animation finishes, it will keep the styles applied from the last keyframe*/
  /*(slideIn) translates the content elements to slide along the Y-axis from 20px down to 0 pixels*/
}

/*content gradually appears and slides in*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
h1, p {
  font-size: 2rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
}

/*menu animation ....................*/
/*animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
.item { /*selects individual items */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in, transform 1s ease-in;
  /*'nth-child', a psuedo-class, selects the first (starter), second (main), and third (desert) child items within the container */
}
.item:nth-child(1) {
  animation: appearAnimation 1s 1.2s forwards;
  /*duration of animation last 1s and 1.2s delay before the animation starts*/
}
.item:nth-child(2) {
  animation: appearAnimation 1s ease-in 1.5s forwards;
}
.item:nth-child(3) {
  animation: appearAnimation 1s ease-in 1.7s forwards;
}

@keyframes appearAnimation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
*, *::before, *::after {
  box-sizing: inherit;
} /*Universal box sizing with inheritance */
html {
  box-sizing: border-box; /* specified width and height include the padding and border, but not the margin. 
    This makes it easier to create predictable and consistent layouts. */
}

.main-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* There are 8 break points */
@media (min-width: 305px) {
  .main-container {
    max-width: 305px; /*makes the container shirnk when the viewport touches */
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
}
@media (min-width: 375px) {
  .main-container {
    max-width: 375px; /*makes the container shirnk when the viewport touches */
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
}
/* xs  For Mobile Devices – 320px — 480px.*/
@media (min-width: 475px) {
  .main-container {
    max-width: 475px; /*makes the container shirnk when the viewport touches */
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
}
/* sm */
@media (min-width: 640px) {
  .main-container {
    max-width: 640px;
  }
}
/* md */
@media (min-width: 768px) {
  .main-container {
    max-width: 768px;
  }
}
/*------ lg Laptops and small screen – 769px — 1024px.-----*/
@media (min-width: 1024px) {
  .main-container {
    max-width: 1024px;
  }
  .main-container .bookMeal-container h3 {
    font-size: 2rem;
  }
  .main-container .bookMeal-container p {
    width: 100%;
  }
  .main-container .howItWorks h3 {
    font-size: 1.6rem;
    padding-left: 140px;
    margin-bottom: 30px;
  }
  .main-container .howItWorks section {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .main-container .howItWorks section .hiwCard {
    width: 24%;
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
  .main-container .restaurants h3 {
    font-size: 1.6rem;
    padding-left: 25px;
  }
  .main-container .restaurants .restaurant-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-between;
    margin-left: 30px;
  }
  .main-container .restaurants .restaurant-options article {
    width: 80%;
  }
  .main-container footer .footer-column {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-container footer .footer-column h4 {
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 30px;
  }
  .main-container footer .footer-column ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-top: 10px;
  }
  .main-container .header_container {
    height: 500px;
    min-width: 100%;
  }
  .main-container .header_container .kit-image {
    width: 100%;
    height: 100%;
  }
  .main-container .header_container .kit-image img {
    position: relative;
    width: 100%;
    height: inherit;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-container .menu-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
  }
  .main-container .menu-list .title-container {
    width: 100%;
  }
  .main-container .menu-list .title-container .menu-title {
    font-size: 2rem;
  }
  .main-container .menu-list .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-container .menu-list .card-content .title-container {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-container .menu-list .card-content .title-container .menu-title {
    margin-left: auto;
    margin-right: auto;
  }
  .main-container .menu-list .card-content .title-container .menu-subtitle {
    font-size: 1.1rem;
  }
  .main-container .menu-list .card-content .heart-icon {
    margin: 30px;
    margin-right: 60px;
    font-size: 25px;
  }
  .main-container .menu-list .menu-items {
    width: 100%;
    padding-bottom: 50px;
  }
  .main-container .menu-list .menu-items .item {
    width: 100%;
    margin: 0;
  }
  .main-container .menu-list .menu-items .item .title-container .menu-subtitle {
    margin-left: 50px;
  }
  .main-container .menu-list .menu-items .item article .card-content .card-txt .card-title {
    font-size: 1.1rem;
  }
  .main-container .menu-list .menu-items .item article .card-content .card-txt .card-subtitle {
    font-size: 1.1rem;
  }
  .main-container .menu-list .menu-items .item article .card-content .price p {
    font-size: 1.1rem;
  }
  /* xl Large screens and Desktops – 1025px — 1200px.*/
  /* 2xl */
}
@media (min-width: 1024px) and (min-width: 1280px) {
  .main-container {
    max-width: 1280px;
  }
  .main-container .restaurants h3 {
    font-size: 1.6rem;
    padding-left: 170px;
  }
  .main-container .restaurants .restaurant-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
  .main-container .restaurants .restaurant-options article {
    width: 490px;
    max-width: 100%;
    height: 251px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .main-container footer .footer-column {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-container footer .footer-column h4 {
    padding-top: 18px;
    margin-left: 50px;
    margin-right: 30px;
  }
  .main-container footer .footer-column ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
  }
  .header_container .header_card .logo-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header_container .header_card .logo-container .logo {
    margin-top: 3px;
    width: 180px;
    height: auto;
  }
  .menu-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-list .title-container {
    width: 100%;
  }
  .menu-list .title-container .menu-title {
    font-size: 2rem;
  }
  .menu-list .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu-list .card-content .title-container {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
  }
  .menu-list .card-content .title-container .menu-subtitle {
    font-size: 1.1rem;
  }
  .menu-list .card-content .heart-icon {
    margin: 30px;
    margin-right: 60px;
    font-size: 25px;
  }
  .menu-list .menu-items {
    width: 100%;
  }
  .menu-list .menu-items .item {
    width: 100%;
    margin: 0;
  }
  .menu-list .menu-items .item .title-container .menu-subtitle {
    margin-left: 50px;
  }
  .menu-list .menu-items .item article .card-content .card-txt .card-title {
    font-size: 1.1rem;
  }
  .menu-list .menu-items .item article .card-content .card-txt .card-subtitle {
    font-size: 1.1rem;
  }
  .menu-list .menu-items .item article .card-content .price p {
    font-size: 1.1rem;
  }
}
@media (min-width: 1024px) and (min-width: 1536px) {
  .main-container {
    max-width: 1536px;
  }
}
/*footer*/
/*footer*/
*, *::before, *::after {
  box-sizing: inherit;
} /*Universal box sizing with inheritance */
html {
  box-sizing: border-box; /* specified width and height include the padding and border, but not the margin. 
    This makes it easier to create predictable and consistent layouts. */
}

.main-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* There are 8 break points */
@media (min-width: 305px) {
  .main-container {
    max-width: 305px; /*makes the container shirnk when the viewport touches */
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
}
@media (min-width: 375px) {
  .main-container {
    max-width: 375px; /*makes the container shirnk when the viewport touches */
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
}
/* xs  For Mobile Devices – 320px — 480px.*/
@media (min-width: 475px) {
  .main-container {
    max-width: 475px; /*makes the container shirnk when the viewport touches */
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
}
/* sm */
@media (min-width: 640px) {
  .main-container {
    max-width: 640px;
  }
}
/* md */
@media (min-width: 768px) {
  .main-container {
    max-width: 768px;
  }
}
/*------ lg Laptops and small screen – 769px — 1024px.-----*/
@media (min-width: 1024px) {
  .main-container {
    max-width: 1024px;
  }
  .main-container .bookMeal-container h3 {
    font-size: 2rem;
  }
  .main-container .bookMeal-container p {
    width: 100%;
  }
  .main-container .howItWorks h3 {
    font-size: 1.6rem;
    padding-left: 140px;
    margin-bottom: 30px;
  }
  .main-container .howItWorks section {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .main-container .howItWorks section .hiwCard {
    width: 24%;
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
  .main-container .restaurants h3 {
    font-size: 1.6rem;
    padding-left: 25px;
  }
  .main-container .restaurants .restaurant-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-between;
    margin-left: 30px;
  }
  .main-container .restaurants .restaurant-options article {
    width: 80%;
  }
  .main-container footer .footer-column {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-container footer .footer-column h4 {
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 30px;
  }
  .main-container footer .footer-column ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-top: 10px;
  }
  .main-container .header_container {
    height: 500px;
    min-width: 100%;
  }
  .main-container .header_container .kit-image {
    width: 100%;
    height: 100%;
  }
  .main-container .header_container .kit-image img {
    position: relative;
    width: 100%;
    height: inherit;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-container .menu-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
  }
  .main-container .menu-list .title-container {
    width: 100%;
  }
  .main-container .menu-list .title-container .menu-title {
    font-size: 2rem;
  }
  .main-container .menu-list .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-container .menu-list .card-content .title-container {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-container .menu-list .card-content .title-container .menu-title {
    margin-left: auto;
    margin-right: auto;
  }
  .main-container .menu-list .card-content .title-container .menu-subtitle {
    font-size: 1.1rem;
  }
  .main-container .menu-list .card-content .heart-icon {
    margin: 30px;
    margin-right: 60px;
    font-size: 25px;
  }
  .main-container .menu-list .menu-items {
    width: 100%;
    padding-bottom: 50px;
  }
  .main-container .menu-list .menu-items .item {
    width: 100%;
    margin: 0;
  }
  .main-container .menu-list .menu-items .item .title-container .menu-subtitle {
    margin-left: 50px;
  }
  .main-container .menu-list .menu-items .item article .card-content .card-txt .card-title {
    font-size: 1.1rem;
  }
  .main-container .menu-list .menu-items .item article .card-content .card-txt .card-subtitle {
    font-size: 1.1rem;
  }
  .main-container .menu-list .menu-items .item article .card-content .price p {
    font-size: 1.1rem;
  }
  /* xl Large screens and Desktops – 1025px — 1200px.*/
  /* 2xl */
}
@media (min-width: 1024px) and (min-width: 1280px) {
  .main-container {
    max-width: 1280px;
  }
  .main-container .restaurants h3 {
    font-size: 1.6rem;
    padding-left: 170px;
  }
  .main-container .restaurants .restaurant-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
  .main-container .restaurants .restaurant-options article {
    width: 490px;
    max-width: 100%;
    height: 251px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .main-container footer .footer-column {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-container footer .footer-column h4 {
    padding-top: 18px;
    margin-left: 50px;
    margin-right: 30px;
  }
  .main-container footer .footer-column ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
  }
  .header_container .header_card .logo-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header_container .header_card .logo-container .logo {
    margin-top: 3px;
    width: 180px;
    height: auto;
  }
  .menu-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-list .title-container {
    width: 100%;
  }
  .menu-list .title-container .menu-title {
    font-size: 2rem;
  }
  .menu-list .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu-list .card-content .title-container {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
  }
  .menu-list .card-content .title-container .menu-subtitle {
    font-size: 1.1rem;
  }
  .menu-list .card-content .heart-icon {
    margin: 30px;
    margin-right: 60px;
    font-size: 25px;
  }
  .menu-list .menu-items {
    width: 100%;
  }
  .menu-list .menu-items .item {
    width: 100%;
    margin: 0;
  }
  .menu-list .menu-items .item .title-container .menu-subtitle {
    margin-left: 50px;
  }
  .menu-list .menu-items .item article .card-content .card-txt .card-title {
    font-size: 1.1rem;
  }
  .menu-list .menu-items .item article .card-content .card-txt .card-subtitle {
    font-size: 1.1rem;
  }
  .menu-list .menu-items .item article .card-content .price p {
    font-size: 1.1rem;
  }
}
@media (min-width: 1024px) and (min-width: 1536px) {
  .main-container {
    max-width: 1536px;
  }
}
/*header*/
.header_card {
  background-color: #fff;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 20px;
}
.header_card .logo {
  width: 180px;
  height: auto;
}

.location {
  padding: 15px 0;
  align-items: center;
  text-align: center;
  background-color: #ececec;
  width: 100%;
}
.location i {
  padding-right: 12px;
}
.location a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/*footer*/
*, *::before, *::after {
  box-sizing: inherit;
} /*Universal box sizing with inheritance */
html {
  box-sizing: border-box; /* specified width and height include the padding and border, but not the margin. 
    This makes it easier to create predictable and consistent layouts. */
}

.main-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* There are 8 break points */
@media (min-width: 305px) {
  .main-container {
    max-width: 305px; /*makes the container shirnk when the viewport touches */
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
}
@media (min-width: 375px) {
  .main-container {
    max-width: 375px; /*makes the container shirnk when the viewport touches */
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
}
/* xs  For Mobile Devices – 320px — 480px.*/
@media (min-width: 475px) {
  .main-container {
    max-width: 475px; /*makes the container shirnk when the viewport touches */
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
}
/* sm */
@media (min-width: 640px) {
  .main-container {
    max-width: 640px;
  }
}
/* md */
@media (min-width: 768px) {
  .main-container {
    max-width: 768px;
  }
}
/*------ lg Laptops and small screen – 769px — 1024px.-----*/
@media (min-width: 1024px) {
  .main-container {
    max-width: 1024px;
  }
  .main-container .bookMeal-container h3 {
    font-size: 2rem;
  }
  .main-container .bookMeal-container p {
    width: 100%;
  }
  .main-container .howItWorks h3 {
    font-size: 1.6rem;
    padding-left: 140px;
    margin-bottom: 30px;
  }
  .main-container .howItWorks section {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .main-container .howItWorks section .hiwCard {
    width: 24%;
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
  .main-container .restaurants h3 {
    font-size: 1.6rem;
    padding-left: 25px;
  }
  .main-container .restaurants .restaurant-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-between;
    margin-left: 30px;
  }
  .main-container .restaurants .restaurant-options article {
    width: 80%;
  }
  .main-container footer .footer-column {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-container footer .footer-column h4 {
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 30px;
  }
  .main-container footer .footer-column ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-top: 10px;
  }
  .main-container .header_container {
    height: 500px;
    min-width: 100%;
  }
  .main-container .header_container .kit-image {
    width: 100%;
    height: 100%;
  }
  .main-container .header_container .kit-image img {
    position: relative;
    width: 100%;
    height: inherit;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-container .menu-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
  }
  .main-container .menu-list .title-container {
    width: 100%;
  }
  .main-container .menu-list .title-container .menu-title {
    font-size: 2rem;
  }
  .main-container .menu-list .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-container .menu-list .card-content .title-container {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-container .menu-list .card-content .title-container .menu-title {
    margin-left: auto;
    margin-right: auto;
  }
  .main-container .menu-list .card-content .title-container .menu-subtitle {
    font-size: 1.1rem;
  }
  .main-container .menu-list .card-content .heart-icon {
    margin: 30px;
    margin-right: 60px;
    font-size: 25px;
  }
  .main-container .menu-list .menu-items {
    width: 100%;
    padding-bottom: 50px;
  }
  .main-container .menu-list .menu-items .item {
    width: 100%;
    margin: 0;
  }
  .main-container .menu-list .menu-items .item .title-container .menu-subtitle {
    margin-left: 50px;
  }
  .main-container .menu-list .menu-items .item article .card-content .card-txt .card-title {
    font-size: 1.1rem;
  }
  .main-container .menu-list .menu-items .item article .card-content .card-txt .card-subtitle {
    font-size: 1.1rem;
  }
  .main-container .menu-list .menu-items .item article .card-content .price p {
    font-size: 1.1rem;
  }
  /* xl Large screens and Desktops – 1025px — 1200px.*/
  /* 2xl */
}
@media (min-width: 1024px) and (min-width: 1280px) {
  .main-container {
    max-width: 1280px;
  }
  .main-container .restaurants h3 {
    font-size: 1.6rem;
    padding-left: 170px;
  }
  .main-container .restaurants .restaurant-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
  .main-container .restaurants .restaurant-options article {
    width: 490px;
    max-width: 100%;
    height: 251px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .main-container footer .footer-column {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-container footer .footer-column h4 {
    padding-top: 18px;
    margin-left: 50px;
    margin-right: 30px;
  }
  .main-container footer .footer-column ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
  }
  .header_container .header_card .logo-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header_container .header_card .logo-container .logo {
    margin-top: 3px;
    width: 180px;
    height: auto;
  }
  .menu-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-list .title-container {
    width: 100%;
  }
  .menu-list .title-container .menu-title {
    font-size: 2rem;
  }
  .menu-list .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu-list .card-content .title-container {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
  }
  .menu-list .card-content .title-container .menu-subtitle {
    font-size: 1.1rem;
  }
  .menu-list .card-content .heart-icon {
    margin: 30px;
    margin-right: 60px;
    font-size: 25px;
  }
  .menu-list .menu-items {
    width: 100%;
  }
  .menu-list .menu-items .item {
    width: 100%;
    margin: 0;
  }
  .menu-list .menu-items .item .title-container .menu-subtitle {
    margin-left: 50px;
  }
  .menu-list .menu-items .item article .card-content .card-txt .card-title {
    font-size: 1.1rem;
  }
  .menu-list .menu-items .item article .card-content .card-txt .card-subtitle {
    font-size: 1.1rem;
  }
  .menu-list .menu-items .item article .card-content .price p {
    font-size: 1.1rem;
  }
}
@media (min-width: 1024px) and (min-width: 1536px) {
  .main-container {
    max-width: 1536px;
  }
}
.bookMeal-container {
  /*passing arg to mixin */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*calling mixin with desired format in the parameter */
  background-color: #F6F6F6;
  width: 100%;
}
.bookMeal-container h3 {
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.bookMeal-container p {
  width: 90%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.bookMeal-container button[type=submit] {
  border: 0;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  border-radius: 25px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.25));
  padding: 15px 30px;
  margin: 20px 20px;
  margin-bottom: 50px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  transition: transform 0.4s, background-color 0.5s;
}
.bookMeal-container button[type=submit]:hover {
  transform: translateY(-10px);
  background: linear-gradient(to bottom, rgba(250, 137, 250, 0.854), rgba(183, 56, 233, 0.8235294118));
}

/*footer*/
*, *::before, *::after {
  box-sizing: inherit;
} /*Universal box sizing with inheritance */
html {
  box-sizing: border-box; /* specified width and height include the padding and border, but not the margin. 
    This makes it easier to create predictable and consistent layouts. */
}

.main-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* There are 8 break points */
@media (min-width: 305px) {
  .main-container {
    max-width: 305px; /*makes the container shirnk when the viewport touches */
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
}
@media (min-width: 375px) {
  .main-container {
    max-width: 375px; /*makes the container shirnk when the viewport touches */
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
}
/* xs  For Mobile Devices – 320px — 480px.*/
@media (min-width: 475px) {
  .main-container {
    max-width: 475px; /*makes the container shirnk when the viewport touches */
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
}
/* sm */
@media (min-width: 640px) {
  .main-container {
    max-width: 640px;
  }
}
/* md */
@media (min-width: 768px) {
  .main-container {
    max-width: 768px;
  }
}
/*------ lg Laptops and small screen – 769px — 1024px.-----*/
@media (min-width: 1024px) {
  .main-container {
    max-width: 1024px;
  }
  .main-container .bookMeal-container h3 {
    font-size: 2rem;
  }
  .main-container .bookMeal-container p {
    width: 100%;
  }
  .main-container .howItWorks h3 {
    font-size: 1.6rem;
    padding-left: 140px;
    margin-bottom: 30px;
  }
  .main-container .howItWorks section {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .main-container .howItWorks section .hiwCard {
    width: 24%;
  }
  .main-container .restaurants {
    padding-bottom: 50px;
  }
  .main-container .restaurants h3 {
    font-size: 1.6rem;
    padding-left: 25px;
  }
  .main-container .restaurants .restaurant-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: space-between;
    margin-left: 30px;
  }
  .main-container .restaurants .restaurant-options article {
    width: 80%;
  }
  .main-container footer .footer-column {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-container footer .footer-column h4 {
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 30px;
  }
  .main-container footer .footer-column ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-top: 10px;
  }
  .main-container .header_container {
    height: 500px;
    min-width: 100%;
  }
  .main-container .header_container .kit-image {
    width: 100%;
    height: 100%;
  }
  .main-container .header_container .kit-image img {
    position: relative;
    width: 100%;
    height: inherit;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-container .menu-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
  }
  .main-container .menu-list .title-container {
    width: 100%;
  }
  .main-container .menu-list .title-container .menu-title {
    font-size: 2rem;
  }
  .main-container .menu-list .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-container .menu-list .card-content .title-container {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-container .menu-list .card-content .title-container .menu-title {
    margin-left: auto;
    margin-right: auto;
  }
  .main-container .menu-list .card-content .title-container .menu-subtitle {
    font-size: 1.1rem;
  }
  .main-container .menu-list .card-content .heart-icon {
    margin: 30px;
    margin-right: 60px;
    font-size: 25px;
  }
  .main-container .menu-list .menu-items {
    width: 100%;
    padding-bottom: 50px;
  }
  .main-container .menu-list .menu-items .item {
    width: 100%;
    margin: 0;
  }
  .main-container .menu-list .menu-items .item .title-container .menu-subtitle {
    margin-left: 50px;
  }
  .main-container .menu-list .menu-items .item article .card-content .card-txt .card-title {
    font-size: 1.1rem;
  }
  .main-container .menu-list .menu-items .item article .card-content .card-txt .card-subtitle {
    font-size: 1.1rem;
  }
  .main-container .menu-list .menu-items .item article .card-content .price p {
    font-size: 1.1rem;
  }
  /* xl Large screens and Desktops – 1025px — 1200px.*/
  /* 2xl */
}
@media (min-width: 1024px) and (min-width: 1280px) {
  .main-container {
    max-width: 1280px;
  }
  .main-container .restaurants h3 {
    font-size: 1.6rem;
    padding-left: 170px;
  }
  .main-container .restaurants .restaurant-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
  .main-container .restaurants .restaurant-options article {
    width: 490px;
    max-width: 100%;
    height: 251px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .main-container footer .footer-column {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-container footer .footer-column h4 {
    padding-top: 18px;
    margin-left: 50px;
    margin-right: 30px;
  }
  .main-container footer .footer-column ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
  }
  .header_container .header_card .logo-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header_container .header_card .logo-container .logo {
    margin-top: 3px;
    width: 180px;
    height: auto;
  }
  .menu-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-list .title-container {
    width: 100%;
  }
  .menu-list .title-container .menu-title {
    font-size: 2rem;
  }
  .menu-list .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu-list .card-content .title-container {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
  }
  .menu-list .card-content .title-container .menu-subtitle {
    font-size: 1.1rem;
  }
  .menu-list .card-content .heart-icon {
    margin: 30px;
    margin-right: 60px;
    font-size: 25px;
  }
  .menu-list .menu-items {
    width: 100%;
  }
  .menu-list .menu-items .item {
    width: 100%;
    margin: 0;
  }
  .menu-list .menu-items .item .title-container .menu-subtitle {
    margin-left: 50px;
  }
  .menu-list .menu-items .item article .card-content .card-txt .card-title {
    font-size: 1.1rem;
  }
  .menu-list .menu-items .item article .card-content .card-txt .card-subtitle {
    font-size: 1.1rem;
  }
  .menu-list .menu-items .item article .card-content .price p {
    font-size: 1.1rem;
  }
}
@media (min-width: 1024px) and (min-width: 1536px) {
  .main-container {
    max-width: 1536px;
  }
}
.howItWorks {
  background-color: #fff;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 100%;
  padding: 20px;
}
.howItWorks h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}
.howItWorks section {
  /*passing arg to mixin */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.howItWorks .hiwCard {
  background-color: #F6F6F6;
  filter: drop-shadow(1px 4px 2px rgba(0, 0, 0, 0.062));
  width: 90%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.howItWorks .hiwCard:hover {
  background-color: rgba(243, 243, 243, 0.903);
  transition: transform 0.5s;
  transform: translateY(-5px);
}
.howItWorks .hiwCard:hover .contain-card i {
  color: #9356DC;
}
.howItWorks .hiwCard .badge-number {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 25px;
  right: 9px;
  width: 100%;
}
.howItWorks .hiwCard .badge-number .num {
  background-color: #9356DC;
  width: 20px;
  border-radius: 30px;
  text-align: center;
}
.howItWorks .hiwCard .badge-number .num p {
  color: white;
  margin: 0;
  padding: 1px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.howItWorks .hiwCard .contain-card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.howItWorks .hiwCard .contain-card .hiw-icon {
  position: relative;
  right: 10px;
  transition: color 200ms;
}
.howItWorks .hiwCard .contain-card .hiw-icon2 {
  position: relative;
  right: 25px;
  transition: color 200ms;
}
.howItWorks .hiwCard .contain-card .hiw-icon3 {
  margin: 15px;
  transition: color 200ms;
}
.howItWorks .hiwCard .contain-card i {
  margin: 5px;
  color: grey;
  position: relative;
  transition: color 0.25s;
}

/*footer*/
.restaurants {
  width: 100%;
  padding-top: 10px;
  height: auto;
  background-color: #F6F6F6;
}
.restaurants h3 {
  padding: 10px 0;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.restaurants .restaurant-options {
  /*passing arg to mixin */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.restaurants .restaurant-options article {
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  height: 225px;
  width: 90%;
  margin-bottom: 40px;
  transition: transform 0.4s, background-color 0.3s;
}
.restaurants .restaurant-options article:hover {
  background-color: rgba(243, 243, 243, 0.903);
  transform: translateY(-5px);
}
.restaurants .restaurant-options article .badge-new {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 10px;
  right: 18px;
  width: 100%;
}
.restaurants .restaurant-options article .badge-new .new {
  background-color: #99E2D0;
  width: 90px;
  border-radius: 5px;
  text-align: center;
}
.restaurants .restaurant-options article .badge-new .new p {
  color: #008766;
  margin: 0;
  padding: 9px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.restaurants .restaurant-options article .res_link {
  text-decoration: none;
  color: black;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
.restaurants .restaurant-options article img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  transition: transform 0.4s, background-color 0.3s;
}
.restaurants .restaurant-options article img:hover {
  background-color: rgba(243, 243, 243, 0.903);
}
.restaurants .restaurant-options article .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants .restaurant-options article .card-content .card-txt {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 10px;
}
.restaurants .restaurant-options article .card-content .card-txt:active {
  color: #9356DC;
}
.restaurants .restaurant-options article .card-content .card-txt .card-title {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
}
.restaurants .restaurant-options article .card-content .card-txt .card-subtitle {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.restaurants .restaurant-options article .card-content .heart-icon {
  margin: 25px;
  margin-right: 30px;
  font-size: 20px;
  transition: color 0.2s;
  cursor: pointer;
  position: relative;
}
.restaurants .restaurant-options article .card-content .heart-icon .fa-regular {
  color: black;
}
.restaurants .restaurant-options article .card-content .heart-icon .fa-solid {
  position: absolute; /*Positions the element absolutely within its containing element (.heart-icon container) */
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text; /*clip the background to the shape of the text (.fa-regular)*/
  color: transparent; /*ensures that the text itself is not visible, allowing the gradient to be seen through the shape of the outlined heart*/
  opacity: 0;
  left: 0;
  transition: 200ms;
}
.restaurants .restaurant-options article .card-content .heart-icon .fa-solid:hover {
  opacity: 1;
}

footer {
  background-color: #353535;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  bottom: 50px;
}
footer .footer-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer .footer-column h4 {
  margin: 0;
  padding-top: 15px;
  padding-left: 15px;
  color: white;
  font-family: "Shrikhand", serif;
  font-size: medium;
  font-weight: 300;
}
footer .footer-column ul {
  list-style: none;
  padding: 0;
  margin-left: 15px;
}
footer .footer-column ul li {
  font-family: "Roboto", sans-serif;
  font-size: small;
  font-weight: 500;
}
footer .footer-column ul li i {
  color: white;
}
footer .footer-column ul li a {
  text-decoration: none;
  color: white;
}
footer .footer-column ul li .footer-space {
  margin: 12px;
}
footer .footer-column ul li .footer-space2 {
  margin: 7px;
}
footer .footer-column ul li a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */