@import './variables';
@import './restaurants';
@import './mediaQuery';

@function weight($weight-name) {  /*mixins and functions are similar. However, functions should be used to return values, mixins should define styles. */

    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter ($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: ($direction);
}





